body {
	background-color: white;
	color: black;
	font-family: "Segoe UI";
	text-align: center;
}
h1   {
	color:black;
}
p    {
	color: black;
	font-family: "Segoe UI";
	font-style: bold;
}
.topPage{
	position: relative;
	text-align: center;
	font-weight: 300;
}
.linkText{
	color: black;
	font-family: 'Segoe UI';
	text-decoration: none;
	margin: 5px;
}
.textHead{
	color: white;
	font-family: 'Segoe UI';
	font-size: 60px;
	position: absolute;
	margin-top: -350px;
	margin-left: 34%;
}
.subText{
	color: white;
	font-family: 'Segoe UI Light';
	font-size: 20px;
	position: absolute;
	margin-top: -275px;
	margin-left: 25%;

}
.slideImage{
	width: 80%;
	height: 500px;
	margin-top: 5px;
}
.info{
	font-style: italic;
	font-weight: 700;
	text-align: center;
}
.detail{
	text-align: center;
	
}
.logoImage{
	height: 25px;
	width: 25px;
}
.span4 {
    width: 31.2500000000%;
    margin: 1.0416666667%;
}
.left {
    float: left;
}